
# {↑} tmp




# env

# # dotenv environment variable files ~backend/.gitignore
# .env
# .env.development.local
# .env.test.local
# .env.production.local
# .env.local


# IDE

.trae
.vscode/*


# {↓} misc

mcp/

